<!-- In this file we'll learn how to count data  -->

<!-- Counting the data -->

In [10]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [11]:
"""
this is how a dataframe is included in vs code.

"""

# Replace 'anish.csv' with your CSV file path
# we can write 'anish.csv' wherever we have used csv_file_path variable.
file = 'data.csv'

try:
    # Try reading the CSV file with default encoding
    df = pd.read_csv(file)
except UnicodeDecodeError:
    # If there's an encoding error, try with a different encoding
    df = pd.read_csv(file, encoding='latin1')

# Display the DataFrame
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [12]:
# counting the values ki kon kitni baar aaya hai.
# returns the values in descending order by default.
df['Duration'].value_counts()

Duration
60     24
45      6
450     1
30      1
Name: count, dtype: int64

In [13]:
df['Pulse'].value_counts()

Pulse
100    6
103    4
102    3
98     3
110    2
117    2
109    2
104    2
92     2
106    1
90     1
97     1
108    1
130    1
105    1
Name: count, dtype: int64

In [14]:
# for ascending order data.
df['Pulse'].value_counts(ascending=True)

Pulse
106    1
90     1
97     1
108    1
130    1
105    1
110    2
117    2
109    2
104    2
92     2
102    3
98     3
103    4
100    6
Name: count, dtype: int64

In [15]:
# calories without NaN(none value)
df['Calories'].value_counts(ascending=True)

Calories
409.1    1
241.0    1
250.0    1
334.5    1
246.0    1
282.0    1
364.2    1
323.0    1
215.2    1
275.0    1
379.3    1
280.0    1
345.3    1
329.3    1
269.0    1
195.1    1
253.3    1
374.0    1
406.0    1
282.4    1
340.0    1
479.0    1
380.3    1
243.0    2
250.7    2
300.0    3
Name: count, dtype: int64

In [16]:
# with NaN values
# it'll show that 2 entries in Calories column have NaN values
df['Calories'].value_counts(dropna=False)

Calories
300.0    3
243.0    2
250.7    2
NaN      2
409.1    1
215.2    1
280.0    1
241.0    1
250.0    1
334.5    1
246.0    1
282.0    1
364.2    1
323.0    1
379.3    1
275.0    1
479.0    1
345.3    1
329.3    1
269.0    1
195.1    1
253.3    1
374.0    1
406.0    1
282.4    1
340.0    1
380.3    1
Name: count, dtype: int64

In [18]:
# getting relative frequency i.e. (percentage/100) of count to the total
df['Pulse'].value_counts(normalize=True)

Pulse
100    0.18750
103    0.12500
102    0.09375
98     0.09375
110    0.06250
117    0.06250
109    0.06250
104    0.06250
92     0.06250
106    0.03125
90     0.03125
97     0.03125
108    0.03125
130    0.03125
105    0.03125
Name: proportion, dtype: float64

In [19]:
# counting a specific thing kitni baar aaya hai.
# In duration columns "60" kitni baar aaya hai.
df['Duration'].value_counts()[60]

24

In [26]:
# count unique values - size
df.groupby('Duration').size()

Duration
30      1
45      6
60     24
450     1
dtype: int64

In [22]:
# # count unique values - count
df.groupby('Duration').count()

          Date  Pulse  Maxpulse  Calories
Duration
30           1      1         1         1
45           5      6         6         5
60          24     24        24        23
450          1      1         1         1

In [27]:
df.groupby('Pulse').count()

       Duration  Date  Maxpulse  Calories
Pulse
90            1     1         1         0
92            2     2         2         2
97            1     1         1         1
98            3     3         3         3
100           6     5         6         6
102           3     3         3         3
103           4     4         4         3
104           2     2         2         2
105           1     1         1         1
106           1     1         1         1
108           1     1         1         1
109           2     2         2         2
110           2     2         2         2
117           2     2         2         2
130           1     1         1         1

In [ ]:
# will throw an error in this dataframe
# get a count of all columns across all columns.
# har column ka data aayega, ek sath pehle 'Date' ke hisaab se uska count pta chalega fir 'Duration' se and 
# so on till last column aur sab 1 saath print hoga.
df.apply(pd.value_counts)