<!-- In this file we'll learn how to add and remove columns to the data -->

<!-- Adding & Removing columns in dataframe -->

In [106]:
import pandas as pd
import numpy as np

In [107]:
"""
this is how a dataframe is included in vs code.

"""

# Replace 'anish.csv' with your CSV file path
# we can write 'anish.csv' wherever we have used csv_file_path variable.
file = 'data.csv'

try:
    # Try reading the CSV file with default encoding
    df = pd.read_csv(file)
except UnicodeDecodeError:
    # If there's an encoding error, try with a different encoding
    df = pd.read_csv(file, encoding='latin1')

# Display the DataFrame
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [108]:
# add column from a python list. 
# length of list should be equal to the number of rows.
# we can create a list on our own also to do so.
allone = np.ones((32,1), dtype='int64')         # ek random column banaya to add in the dataframe. df me 32 elements hai therefore 32 elements ki list bnai hai.
df["Random"] = allone
print(df)

    Duration          Date  Pulse  Maxpulse  Calories  Random
0         60  '2020/12/01'    110       130     409.1       1
1         60  '2020/12/02'    117       145     479.0       1
2         60  '2020/12/03'    103       135     340.0       1
3         45  '2020/12/04'    109       175     282.4       1
4         45  '2020/12/05'    117       148     406.0       1
5         60  '2020/12/06'    102       127     300.0       1
6         60  '2020/12/07'    110       136     374.0       1
7        450  '2020/12/08'    104       134     253.3       1
8         30  '2020/12/09'    109       133     195.1       1
9         60  '2020/12/10'     98       124     269.0       1
10        60  '2020/12/11'    103       147     329.3       1
11        60  '2020/12/12'    100       120     250.7       1
12        60  '2020/12/12'    100       120     250.7       1
13        60  '2020/12/13'    106       128     345.3       1
14        60  '2020/12/14'    104       132     379.3       1
15        60  '2020/12/15'     98       123     275.0       1
16        60  '2020/12/16'     98       120     215.2       1
17        60  '2020/12/17'    100       120     300.0       1
18        45  '2020/12/18'     90       112       NaN       1
19        60  '2020/12/19'    103       123     323.0       1
20        45  '2020/12/20'     97       125     243.0       1
21        60  '2020/12/21'    108       131     364.2       1
22        45           NaN    100       119     282.0       1
23        60  '2020/12/23'    130       101     300.0       1
24        45  '2020/12/24'    105       132     246.0       1
25        60  '2020/12/25'    102       126     334.5       1
26        60      20201226    100       120     250.0       1
27        60  '2020/12/27'     92       118     241.0       1
28        60  '2020/12/28'    103       132       NaN       1
29        60  '2020/12/29'    100       132     280.0       1
30        60  '2020/12/30'    102       129     380.3       1
31        60  '2020/12/31'     92       115     243.0       1

In [109]:
# giving default value throughout the column.
df["Alive/Dead"] = [True]*len(df)           # value "True" daali hai jo ki bool hai, multiply by length of df kiya taaki uski length ka column bane.
df["name"] = ["bob"]*len(df)
df

    Duration          Date  Pulse  Maxpulse  Calories  Random  Alive/Dead name
0         60  '2020/12/01'    110       130     409.1       1        True  bob
1         60  '2020/12/02'    117       145     479.0       1        True  bob
2         60  '2020/12/03'    103       135     340.0       1        True  bob
3         45  '2020/12/04'    109       175     282.4       1        True  bob
4         45  '2020/12/05'    117       148     406.0       1        True  bob
5         60  '2020/12/06'    102       127     300.0       1        True  bob
6         60  '2020/12/07'    110       136     374.0       1        True  bob
7        450  '2020/12/08'    104       134     253.3       1        True  bob
8         30  '2020/12/09'    109       133     195.1       1        True  bob
9         60  '2020/12/10'     98       124     269.0       1        True  bob
10        60  '2020/12/11'    103       147     329.3       1        True  bob
11        60  '2020/12/12'    100       120     250.7       1        True  bob
12        60  '2020/12/12'    100       120     250.7       1        True  bob
13        60  '2020/12/13'    106       128     345.3       1        True  bob
14        60  '2020/12/14'    104       132     379.3       1        True  bob
15        60  '2020/12/15'     98       123     275.0       1        True  bob
16        60  '2020/12/16'     98       120     215.2       1        True  bob
17        60  '2020/12/17'    100       120     300.0       1        True  bob
18        45  '2020/12/18'     90       112       NaN       1        True  bob
19        60  '2020/12/19'    103       123     323.0       1        True  bob
20        45  '2020/12/20'     97       125     243.0       1        True  bob
21        60  '2020/12/21'    108       131     364.2       1        True  bob
22        45           NaN    100       119     282.0       1        True  bob
23        60  '2020/12/23'    130       101     300.0       1        True  bob
24        45  '2020/12/24'    105       132     246.0       1        True  bob
25        60  '2020/12/25'    102       126     334.5       1        True  bob
26        60      20201226    100       120     250.0       1        True  bob
27        60  '2020/12/27'     92       118     241.0       1        True  bob
28        60  '2020/12/28'    103       132       NaN       1        True  bob
29        60  '2020/12/29'    100       132     280.0       1        True  bob
30        60  '2020/12/30'    102       129     380.3       1        True  bob
31        60  '2020/12/31'     92       115     243.0       1        True  bob

In [110]:
# can store nan values
df["extra"] = [np.nan]*len(df)
df

,Duration,Date,Pulse,Maxpulse,Calories,Random,Alive/Dead,name,extra
0,60,'2020/12/01',110,130,409.1,1,True,bob,NaN
1,60,'2020/12/02',117,145,479.0,1,True,bob,NaN
2,60,'2020/12/03',103,135,340.0,1,True,bob,NaN
3,45,'2020/12/04',109,175,282.4,1,True,bob,NaN
4,45,'2020/12/05',117,148,406.0,1,True,bob,NaN
5,60,'2020/12/06',102,127,300.0,1,True,bob,NaN
6,60,'2020/12/07',110,136,374.0,1,True,bob,NaN
7,450,'2020/12/08',104,134,253.3,1,True,bob,NaN
8,30,'2020/12/09',109,133,195.1,1,True,bob,NaN
9,60,'2020/12/10',98,124,269.0,1,True,bob,NaN
10,60,'2020/12/11',103,147,329.3,1,True,bob,NaN
11,60,'2020/12/12',100,120,250.7,1,True,bob,NaN
12,60,'2020/12/12',100,120,250.7,1,True,bob,NaN
13,60,'2020/12/13',106,128,345.3,1,True,bob,NaN
14,60,'2020/12/14',104,132,379.3,1,True,bob,NaN
15,60,'2020/12/15',98,123,275.0,1,True,bob,NaN
16,60,'2020/12/16',98,120,215.2,1,True,bob,NaN
17,60,'2020/12/17',100,120,300.0,1,True,bob,NaN
18,45,'2020/12/18',90,112,NaN,1,True,bob,NaN
19,60,'2020/12/19',103,123,323.0,1,True,bob,NaN
20,45,'2020/12/20',97,125,243.0,1,True,bob,NaN
21,60,'2020/12/21',108,131,364.2,1,True,bob,NaN
22,45,NaN,100,119,282.0,1,True,bob,NaN
23,60,'2020/12/23',130,101,300.0,1,True,bob,NaN
24,45,'2020/12/24',105,132,246.0,1,True,bob,NaN
25,60,'2020/12/25',102,126,334.5,1,True,bob,NaN
26,60,20201226,100,120,250.0,1,True,bob,NaN
27,60,'2020/12/27',92,118,241.0,1,True,bob,NaN
28,60,'2020/12/28',103,132,NaN,1,True,bob,NaN
29,60,'2020/12/29',100,132,280.0,1,True,bob,NaN
30,60,'2020/12/30',102,129,380.3,1,True,bob,NaN
31,60,'2020/12/31',92,115,243.0,1,True,bob,NaN

In [111]:
# add columns using insert() fun - can choose position because as default columns last me add hote hai.

# .insert(column_position, column_name, column_list, bool(do you want duplicates?) )
# if last me False hoga then list me duplicate value would not be allowed.
df.insert(1, "age", [5]*len(df), True)
df

,Duration,age,Date,Pulse,Maxpulse,Calories,Random,Alive/Dead,name,extra
0,60,5,'2020/12/01',110,130,409.1,1,True,bob,NaN
1,60,5,'2020/12/02',117,145,479.0,1,True,bob,NaN
2,60,5,'2020/12/03',103,135,340.0,1,True,bob,NaN
3,45,5,'2020/12/04',109,175,282.4,1,True,bob,NaN
4,45,5,'2020/12/05',117,148,406.0,1,True,bob,NaN
5,60,5,'2020/12/06',102,127,300.0,1,True,bob,NaN
6,60,5,'2020/12/07',110,136,374.0,1,True,bob,NaN
7,450,5,'2020/12/08',104,134,253.3,1,True,bob,NaN
8,30,5,'2020/12/09',109,133,195.1,1,True,bob,NaN
9,60,5,'2020/12/10',98,124,269.0,1,True,bob,NaN
10,60,5,'2020/12/11',103,147,329.3,1,True,bob,NaN
11,60,5,'2020/12/12',100,120,250.7,1,True,bob,NaN
12,60,5,'2020/12/12',100,120,250.7,1,True,bob,NaN
13,60,5,'2020/12/13',106,128,345.3,1,True,bob,NaN
14,60,5,'2020/12/14',104,132,379.3,1,True,bob,NaN
15,60,5,'2020/12/15',98,123,275.0,1,True,bob,NaN
16,60,5,'2020/12/16',98,120,215.2,1,True,bob,NaN
17,60,5,'2020/12/17',100,120,300.0,1,True,bob,NaN
18,45,5,'2020/12/18',90,112,NaN,1,True,bob,NaN
19,60,5,'2020/12/19',103,123,323.0,1,True,bob,NaN
20,45,5,'2020/12/20',97,125,243.0,1,True,bob,NaN
21,60,5,'2020/12/21',108,131,364.2,1,True,bob,NaN
22,45,5,NaN,100,119,282.0,1,True,bob,NaN
23,60,5,'2020/12/23',130,101,300.0,1,True,bob,NaN
24,45,5,'2020/12/24',105,132,246.0,1,True,bob,NaN
25,60,5,'2020/12/25',102,126,334.5,1,True,bob,NaN
26,60,5,20201226,100,120,250.0,1,True,bob,NaN
27,60,5,'2020/12/27',92,118,241.0,1,True,bob,NaN
28,60,5,'2020/12/28',103,132,NaN,1,True,bob,NaN
29,60,5,'2020/12/29',100,132,280.0,1,True,bob,NaN
30,60,5,'2020/12/30',102,129,380.3,1,True,bob,NaN
31,60,5,'2020/12/31',92,115,243.0,1,True,bob,NaN

In [112]:
# if you want to keep your original data frame as it is and want to create a column making a new data frame.
# new dataframe hi ban gya.
my_df = df.assign(Horse=[False]*len(df))
my_df

,Duration,age,Date,Pulse,Maxpulse,Calories,Random,Alive/Dead,name,extra,Horse
0,60,5,'2020/12/01',110,130,409.1,1,True,bob,NaN,False
1,60,5,'2020/12/02',117,145,479.0,1,True,bob,NaN,False
2,60,5,'2020/12/03',103,135,340.0,1,True,bob,NaN,False
3,45,5,'2020/12/04',109,175,282.4,1,True,bob,NaN,False
4,45,5,'2020/12/05',117,148,406.0,1,True,bob,NaN,False
5,60,5,'2020/12/06',102,127,300.0,1,True,bob,NaN,False
6,60,5,'2020/12/07',110,136,374.0,1,True,bob,NaN,False
7,450,5,'2020/12/08',104,134,253.3,1,True,bob,NaN,False
8,30,5,'2020/12/09',109,133,195.1,1,True,bob,NaN,False
9,60,5,'2020/12/10',98,124,269.0,1,True,bob,NaN,False
10,60,5,'2020/12/11',103,147,329.3,1,True,bob,NaN,False
11,60,5,'2020/12/12',100,120,250.7,1,True,bob,NaN,False
12,60,5,'2020/12/12',100,120,250.7,1,True,bob,NaN,False
13,60,5,'2020/12/13',106,128,345.3,1,True,bob,NaN,False
14,60,5,'2020/12/14',104,132,379.3,1,True,bob,NaN,False
15,60,5,'2020/12/15',98,123,275.0,1,True,bob,NaN,False
16,60,5,'2020/12/16',98,120,215.2,1,True,bob,NaN,False
17,60,5,'2020/12/17',100,120,300.0,1,True,bob,NaN,False
18,45,5,'2020/12/18',90,112,NaN,1,True,bob,NaN,False
19,60,5,'2020/12/19',103,123,323.0,1,True,bob,NaN,False
20,45,5,'2020/12/20',97,125,243.0,1,True,bob,NaN,False
21,60,5,'2020/12/21',108,131,364.2,1,True,bob,NaN,False
22,45,5,NaN,100,119,282.0,1,True,bob,NaN,False
23,60,5,'2020/12/23',130,101,300.0,1,True,bob,NaN,False
24,45,5,'2020/12/24',105,132,246.0,1,True,bob,NaN,False
25,60,5,'2020/12/25',102,126,334.5,1,True,bob,NaN,False
26,60,5,20201226,100,120,250.0,1,True,bob,NaN,False
27,60,5,'2020/12/27',92,118,241.0,1,True,bob,NaN,False
28,60,5,'2020/12/28',103,132,NaN,1,True,bob,NaN,False
29,60,5,'2020/12/29',100,132,280.0,1,True,bob,NaN,False
30,60,5,'2020/12/30',102,129,380.3,1,True,bob,NaN,False
31,60,5,'2020/12/31',92,115,243.0,1,True,bob,NaN,False

In [113]:
# it does not have a column named horse.
df

,Duration,age,Date,Pulse,Maxpulse,Calories,Random,Alive/Dead,name,extra
0,60,5,'2020/12/01',110,130,409.1,1,True,bob,NaN
1,60,5,'2020/12/02',117,145,479.0,1,True,bob,NaN
2,60,5,'2020/12/03',103,135,340.0,1,True,bob,NaN
3,45,5,'2020/12/04',109,175,282.4,1,True,bob,NaN
4,45,5,'2020/12/05',117,148,406.0,1,True,bob,NaN
5,60,5,'2020/12/06',102,127,300.0,1,True,bob,NaN
6,60,5,'2020/12/07',110,136,374.0,1,True,bob,NaN
7,450,5,'2020/12/08',104,134,253.3,1,True,bob,NaN
8,30,5,'2020/12/09',109,133,195.1,1,True,bob,NaN
9,60,5,'2020/12/10',98,124,269.0,1,True,bob,NaN
10,60,5,'2020/12/11',103,147,329.3,1,True,bob,NaN
11,60,5,'2020/12/12',100,120,250.7,1,True,bob,NaN
12,60,5,'2020/12/12',100,120,250.7,1,True,bob,NaN
13,60,5,'2020/12/13',106,128,345.3,1,True,bob,NaN
14,60,5,'2020/12/14',104,132,379.3,1,True,bob,NaN
15,60,5,'2020/12/15',98,123,275.0,1,True,bob,NaN
16,60,5,'2020/12/16',98,120,215.2,1,True,bob,NaN
17,60,5,'2020/12/17',100,120,300.0,1,True,bob,NaN
18,45,5,'2020/12/18',90,112,NaN,1,True,bob,NaN
19,60,5,'2020/12/19',103,123,323.0,1,True,bob,NaN
20,45,5,'2020/12/20',97,125,243.0,1,True,bob,NaN
21,60,5,'2020/12/21',108,131,364.2,1,True,bob,NaN
22,45,5,NaN,100,119,282.0,1,True,bob,NaN
23,60,5,'2020/12/23',130,101,300.0,1,True,bob,NaN
24,45,5,'2020/12/24',105,132,246.0,1,True,bob,NaN
25,60,5,'2020/12/25',102,126,334.5,1,True,bob,NaN
26,60,5,20201226,100,120,250.0,1,True,bob,NaN
27,60,5,'2020/12/27',92,118,241.0,1,True,bob,NaN
28,60,5,'2020/12/28',103,132,NaN,1,True,bob,NaN
29,60,5,'2020/12/29',100,132,280.0,1,True,bob,NaN
30,60,5,'2020/12/30',102,129,380.3,1,True,bob,NaN
31,60,5,'2020/12/31',92,115,243.0,1,True,bob,NaN

In [114]:
# removing a column
# axis=1 karna pada to specify our columns, it kinda takes you to the row of column_headings.
# axis=0 is the row headings, by default axis is equal to 0.
df.drop("Random", axis=1)

,Duration,age,Date,Pulse,Maxpulse,Calories,Alive/Dead,name,extra
0,60,5,'2020/12/01',110,130,409.1,True,bob,NaN
1,60,5,'2020/12/02',117,145,479.0,True,bob,NaN
2,60,5,'2020/12/03',103,135,340.0,True,bob,NaN
3,45,5,'2020/12/04',109,175,282.4,True,bob,NaN
4,45,5,'2020/12/05',117,148,406.0,True,bob,NaN
5,60,5,'2020/12/06',102,127,300.0,True,bob,NaN
6,60,5,'2020/12/07',110,136,374.0,True,bob,NaN
7,450,5,'2020/12/08',104,134,253.3,True,bob,NaN
8,30,5,'2020/12/09',109,133,195.1,True,bob,NaN
9,60,5,'2020/12/10',98,124,269.0,True,bob,NaN
10,60,5,'2020/12/11',103,147,329.3,True,bob,NaN
11,60,5,'2020/12/12',100,120,250.7,True,bob,NaN
12,60,5,'2020/12/12',100,120,250.7,True,bob,NaN
13,60,5,'2020/12/13',106,128,345.3,True,bob,NaN
14,60,5,'2020/12/14',104,132,379.3,True,bob,NaN
15,60,5,'2020/12/15',98,123,275.0,True,bob,NaN
16,60,5,'2020/12/16',98,120,215.2,True,bob,NaN
17,60,5,'2020/12/17',100,120,300.0,True,bob,NaN
18,45,5,'2020/12/18',90,112,NaN,True,bob,NaN
19,60,5,'2020/12/19',103,123,323.0,True,bob,NaN
20,45,5,'2020/12/20',97,125,243.0,True,bob,NaN
21,60,5,'2020/12/21',108,131,364.2,True,bob,NaN
22,45,5,NaN,100,119,282.0,True,bob,NaN
23,60,5,'2020/12/23',130,101,300.0,True,bob,NaN
24,45,5,'2020/12/24',105,132,246.0,True,bob,NaN
25,60,5,'2020/12/25',102,126,334.5,True,bob,NaN
26,60,5,20201226,100,120,250.0,True,bob,NaN
27,60,5,'2020/12/27',92,118,241.0,True,bob,NaN
28,60,5,'2020/12/28',103,132,NaN,True,bob,NaN
29,60,5,'2020/12/29',100,132,280.0,True,bob,NaN
30,60,5,'2020/12/30',102,129,380.3,True,bob,NaN
31,60,5,'2020/12/31',92,115,243.0,True,bob,NaN

In [115]:
# running the dataframe again, we see that random is still there
df

,Duration,age,Date,Pulse,Maxpulse,Calories,Random,Alive/Dead,name,extra
0,60,5,'2020/12/01',110,130,409.1,1,True,bob,NaN
1,60,5,'2020/12/02',117,145,479.0,1,True,bob,NaN
2,60,5,'2020/12/03',103,135,340.0,1,True,bob,NaN
3,45,5,'2020/12/04',109,175,282.4,1,True,bob,NaN
4,45,5,'2020/12/05',117,148,406.0,1,True,bob,NaN
5,60,5,'2020/12/06',102,127,300.0,1,True,bob,NaN
6,60,5,'2020/12/07',110,136,374.0,1,True,bob,NaN
7,450,5,'2020/12/08',104,134,253.3,1,True,bob,NaN
8,30,5,'2020/12/09',109,133,195.1,1,True,bob,NaN
9,60,5,'2020/12/10',98,124,269.0,1,True,bob,NaN
10,60,5,'2020/12/11',103,147,329.3,1,True,bob,NaN
11,60,5,'2020/12/12',100,120,250.7,1,True,bob,NaN
12,60,5,'2020/12/12',100,120,250.7,1,True,bob,NaN
13,60,5,'2020/12/13',106,128,345.3,1,True,bob,NaN
14,60,5,'2020/12/14',104,132,379.3,1,True,bob,NaN
15,60,5,'2020/12/15',98,123,275.0,1,True,bob,NaN
16,60,5,'2020/12/16',98,120,215.2,1,True,bob,NaN
17,60,5,'2020/12/17',100,120,300.0,1,True,bob,NaN
18,45,5,'2020/12/18',90,112,NaN,1,True,bob,NaN
19,60,5,'2020/12/19',103,123,323.0,1,True,bob,NaN
20,45,5,'2020/12/20',97,125,243.0,1,True,bob,NaN
21,60,5,'2020/12/21',108,131,364.2,1,True,bob,NaN
22,45,5,NaN,100,119,282.0,1,True,bob,NaN
23,60,5,'2020/12/23',130,101,300.0,1,True,bob,NaN
24,45,5,'2020/12/24',105,132,246.0,1,True,bob,NaN
25,60,5,'2020/12/25',102,126,334.5,1,True,bob,NaN
26,60,5,20201226,100,120,250.0,1,True,bob,NaN
27,60,5,'2020/12/27',92,118,241.0,1,True,bob,NaN
28,60,5,'2020/12/28',103,132,NaN,1,True,bob,NaN
29,60,5,'2020/12/29',100,132,280.0,1,True,bob,NaN
30,60,5,'2020/12/30',102,129,380.3,1,True,bob,NaN
31,60,5,'2020/12/31',92,115,243.0,1,True,bob,NaN

In [116]:
df["Random"]

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
Name: Random, dtype: int64

In [117]:
# to delete it permanently, change the inplace to True.
df.drop("Random", axis=1, inplace=True)

In [118]:
# random has been permanently deleted.
df

,Duration,age,Date,Pulse,Maxpulse,Calories,Alive/Dead,name,extra
0,60,5,'2020/12/01',110,130,409.1,True,bob,NaN
1,60,5,'2020/12/02',117,145,479.0,True,bob,NaN
2,60,5,'2020/12/03',103,135,340.0,True,bob,NaN
3,45,5,'2020/12/04',109,175,282.4,True,bob,NaN
4,45,5,'2020/12/05',117,148,406.0,True,bob,NaN
5,60,5,'2020/12/06',102,127,300.0,True,bob,NaN
6,60,5,'2020/12/07',110,136,374.0,True,bob,NaN
7,450,5,'2020/12/08',104,134,253.3,True,bob,NaN
8,30,5,'2020/12/09',109,133,195.1,True,bob,NaN
9,60,5,'2020/12/10',98,124,269.0,True,bob,NaN
10,60,5,'2020/12/11',103,147,329.3,True,bob,NaN
11,60,5,'2020/12/12',100,120,250.7,True,bob,NaN
12,60,5,'2020/12/12',100,120,250.7,True,bob,NaN
13,60,5,'2020/12/13',106,128,345.3,True,bob,NaN
14,60,5,'2020/12/14',104,132,379.3,True,bob,NaN
15,60,5,'2020/12/15',98,123,275.0,True,bob,NaN
16,60,5,'2020/12/16',98,120,215.2,True,bob,NaN
17,60,5,'2020/12/17',100,120,300.0,True,bob,NaN
18,45,5,'2020/12/18',90,112,NaN,True,bob,NaN
19,60,5,'2020/12/19',103,123,323.0,True,bob,NaN
20,45,5,'2020/12/20',97,125,243.0,True,bob,NaN
21,60,5,'2020/12/21',108,131,364.2,True,bob,NaN
22,45,5,NaN,100,119,282.0,True,bob,NaN
23,60,5,'2020/12/23',130,101,300.0,True,bob,NaN
24,45,5,'2020/12/24',105,132,246.0,True,bob,NaN
25,60,5,'2020/12/25',102,126,334.5,True,bob,NaN
26,60,5,20201226,100,120,250.0,True,bob,NaN
27,60,5,'2020/12/27',92,118,241.0,True,bob,NaN
28,60,5,'2020/12/28',103,132,NaN,True,bob,NaN
29,60,5,'2020/12/29',100,132,280.0,True,bob,NaN
30,60,5,'2020/12/30',102,129,380.3,True,bob,NaN
31,60,5,'2020/12/31',92,115,243.0,True,bob,NaN

In [119]:
# permanently deleting a column in very first place.
df.drop("name", axis=1, inplace=True)

In [120]:
# name column also get deleted.
# these deletions have nothing to do with the .csv file, that will remain as it is.
df

    Duration  age          Date  Pulse  Maxpulse  Calories  Alive/Dead  extra
0         60    5  '2020/12/01'    110       130     409.1        True    NaN
1         60    5  '2020/12/02'    117       145     479.0        True    NaN
2         60    5  '2020/12/03'    103       135     340.0        True    NaN
3         45    5  '2020/12/04'    109       175     282.4        True    NaN
4         45    5  '2020/12/05'    117       148     406.0        True    NaN
5         60    5  '2020/12/06'    102       127     300.0        True    NaN
6         60    5  '2020/12/07'    110       136     374.0        True    NaN
7        450    5  '2020/12/08'    104       134     253.3        True    NaN
8         30    5  '2020/12/09'    109       133     195.1        True    NaN
9         60    5  '2020/12/10'     98       124     269.0        True    NaN
10        60    5  '2020/12/11'    103       147     329.3        True    NaN
11        60    5  '2020/12/12'    100       120     250.7        True    NaN
12        60    5  '2020/12/12'    100       120     250.7        True    NaN
13        60    5  '2020/12/13'    106       128     345.3        True    NaN
14        60    5  '2020/12/14'    104       132     379.3        True    NaN
15        60    5  '2020/12/15'     98       123     275.0        True    NaN
16        60    5  '2020/12/16'     98       120     215.2        True    NaN
17        60    5  '2020/12/17'    100       120     300.0        True    NaN
18        45    5  '2020/12/18'     90       112       NaN        True    NaN
19        60    5  '2020/12/19'    103       123     323.0        True    NaN
20        45    5  '2020/12/20'     97       125     243.0        True    NaN
21        60    5  '2020/12/21'    108       131     364.2        True    NaN
22        45    5           NaN    100       119     282.0        True    NaN
23        60    5  '2020/12/23'    130       101     300.0        True    NaN
24        45    5  '2020/12/24'    105       132     246.0        True    NaN
25        60    5  '2020/12/25'    102       126     334.5        True    NaN
26        60    5      20201226    100       120     250.0        True    NaN
27        60    5  '2020/12/27'     92       118     241.0        True    NaN
28        60    5  '2020/12/28'    103       132       NaN        True    NaN
29        60    5  '2020/12/29'    100       132     280.0        True    NaN
30        60    5  '2020/12/30'    102       129     380.3        True    NaN
31        60    5  '2020/12/31'     92       115     243.0        True    NaN

In [125]:
# remove a row
# the first row gets deleted.
# df.drop(1) bhi chalega but prefer the following.
# make inplace=True to delete it permanently.
df.drop(1, axis=0)      # good practice.

    Duration  age          Date  Pulse  Maxpulse  Calories  Alive/Dead  extra
0         60    5  '2020/12/01'    110       130     409.1        True    NaN
2         60    5  '2020/12/03'    103       135     340.0        True    NaN
3         45    5  '2020/12/04'    109       175     282.4        True    NaN
4         45    5  '2020/12/05'    117       148     406.0        True    NaN
5         60    5  '2020/12/06'    102       127     300.0        True    NaN
6         60    5  '2020/12/07'    110       136     374.0        True    NaN
7        450    5  '2020/12/08'    104       134     253.3        True    NaN
8         30    5  '2020/12/09'    109       133     195.1        True    NaN
9         60    5  '2020/12/10'     98       124     269.0        True    NaN
10        60    5  '2020/12/11'    103       147     329.3        True    NaN
11        60    5  '2020/12/12'    100       120     250.7        True    NaN
12        60    5  '2020/12/12'    100       120     250.7        True    NaN
13        60    5  '2020/12/13'    106       128     345.3        True    NaN
14        60    5  '2020/12/14'    104       132     379.3        True    NaN
15        60    5  '2020/12/15'     98       123     275.0        True    NaN
16        60    5  '2020/12/16'     98       120     215.2        True    NaN
17        60    5  '2020/12/17'    100       120     300.0        True    NaN
18        45    5  '2020/12/18'     90       112       NaN        True    NaN
19        60    5  '2020/12/19'    103       123     323.0        True    NaN
20        45    5  '2020/12/20'     97       125     243.0        True    NaN
21        60    5  '2020/12/21'    108       131     364.2        True    NaN
22        45    5           NaN    100       119     282.0        True    NaN
23        60    5  '2020/12/23'    130       101     300.0        True    NaN
24        45    5  '2020/12/24'    105       132     246.0        True    NaN
25        60    5  '2020/12/25'    102       126     334.5        True    NaN
26        60    5      20201226    100       120     250.0        True    NaN
27        60    5  '2020/12/27'     92       118     241.0        True    NaN
28        60    5  '2020/12/28'    103       132       NaN        True    NaN
29        60    5  '2020/12/29'    100       132     280.0        True    NaN
30        60    5  '2020/12/30'    102       129     380.3        True    NaN
31        60    5  '2020/12/31'     92       115     243.0        True    NaN