<!-- grabbing rows and columns in a dataframe -->

<!-- grabbing rows and more -->

In [3]:
import pandas as pd
import numpy as np

In [5]:
"""
this is how a dataframe is included in vs code.

"""

# Replace 'anish.csv' with your CSV file path
# we can write 'anish.csv' wherever we have used csv_file_path variable.
file = 'data.csv'

try:
    # Try reading the CSV file with default encoding
    df = pd.read_csv(file)
except UnicodeDecodeError:
    # If there's an encoding error, try with a different encoding
    df = pd.read_csv(file, encoding='latin1')

# Display the DataFrame
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [6]:
# grabbing a row
df.loc[2]

Duration              60
Date        '2020/12/03'
Pulse                103
Maxpulse             135
Calories           340.0
Name: 2, dtype: object

In [7]:
# method 2  grabbing rows by index
# this is used when your rows have names, i.e. string jaise anish naam ki ek row ho gyi.
# to usko aap index se bhi access kar skte ho.
df.iloc[3]

Duration              45
Date        '2020/12/04'
Pulse                109
Maxpulse             175
Calories           282.4
Name: 3, dtype: object

In [8]:
# specific point or cell info
# df.loc[row, column]
df.loc[1, "Pulse"]

117

In [11]:
# subsets
# df.loc[ [row1, row2], [col1, col2] ]
# this will not make a subset assuming them to be range, they're taking it as a element.

df.loc[ [1,3, 5], ["Pulse", "Calories" ]]

# here 1,3,5 row ka data aa gya of column Pulse and Calories respectively.

   Pulse  Calories
1    117     479.0
3    109     282.4
5    102     300.0